html{
    scroll-behavior: smooth;

}

body{
    font-family: Arial, Helvetica, sans-serif;
}

body::-webkit-scrollbar{
    width: 10px;
}


body::-webkit-scrollbar-thumb {
    background-color: none; 
    border-radius: 20px;
    border: 1px solid rgb(0, 0, 0);
}


*{
    margin: 0;
    padding: 0;
}

.purple_fon{
    display: flex;
    width: 100%;
    height: 650px;
    z-index: 0;
    border-bottom: 0.5px solid rgb(253, 253, 253);
}


.header_btn{
    display: flex;
    justify-content: center;
    gap: 70px;
    position: absolute;
    top: 35px;
    left: 6%;
    right: 9%;
}

.lampabot{
    display: flex;
    position: relative;
    right: 5%;    
}

.Request_a_demo{
    display: flex;
    position: relative;
    left: 10%; 
}

.lampabot{
    width: 10%;
    height: auto;
}

.process{
    border: none;
    background: none;
    color: white;
    border-bottom: 2px solid white;
}

.Messengers{
    border: none;
    background: none;
    color: white;
}

.Messengers:hover{
    border-bottom: 2px solid white;
}

.Why_are_you_losing_customers{
    border: none;
    background: none;
    color: white;
}

.Why_are_you_losing_customers:hover{
    border-bottom: 2px solid white;
}

.Suitable_for_whom{
    border: none;
    background: none;
    color: white;
}

.Suitable_for_whom:hover{
    border-bottom: 2px solid white;
}

.more{
    border: none;
    background: none;
    color: white;
}

.more:hover{
    border-bottom: 2px solid white;
}

.Request_a_demo{
    border: none;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(243, 198, 243, 0.219);
    color: white;
}

.Request_a_demo:hover{
    background-color: rgba(243, 198, 243, 0.575);
}

.description{
    display: block;
    position: absolute;
    width: 500px;
    top: 220px;
    left: 13.5%;
}

.h1_description{
    color: white;
}

.p_description{
    color: white;
    position: relative;
    top: 50px;
}

.btn_description{
    position: relative;
    top: 120px;
    gap: 40px;
}

.Try_it_for_free{
    border: none;
    border-radius: 10px;
    padding: 15px;
    background-color: orange;
    color: rgb(0, 0, 0);
}

.Try_it_for_free:hover{
    background-color: rgb(255, 203, 107);
}

.Watch_the_video{
    width: 150px;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background-color: rgba(243, 198, 243, 0.219);
    color: rgb(255, 255, 255);
    margin-left: 10px;
}

.Watch_the_video:hover{
    background-color:  rgba(243, 198, 243, 0.575);
}

.menu{
    height: 80px;
    border-bottom: 0.5px solid rgb(241, 241, 241);
}

.vertical_line{
    border-left: 1px solid #777777;
}

.menu_p{
    display: flex;
    justify-content: center;
    position: relative;
    padding: 30px;
    gap: 2vw;
    color: #3f3e3e;
    font-size: 15px;
}

.the_work_process{
    height: 700px;
    background-color: rgb(242, 230, 250);
}

.flex_the_work_process{
    display: flex;
    justify-content: center;
    padding-top: 200px;
}

.description_the_work_process{
    display: block;
    width: 1200px;
}

.h1_description_the_work_process{
    text-align: center;
}

.span_description_the_work_process{
    color: rgb(169, 22, 206);
}

.p_description_the_work_process{
    text-align: center;
    padding: 20px;
    position: relative;
    top: 25px;
    line-height: 30px;
}

.btn_description_the_work_process{
    display: block;
    margin: 0 auto;
    position: relative;
    top: 100px;
    background: none;
    border: 1px solid black;
    border-radius: 15px;
    padding: 20px;
    width: 220px;   
}

.btn_description_the_work_process:hover{
    background-color: rgb(0, 0, 0);
    color: white;
}

.background-color_Messengers{
    height: 700px;
}

.img__Messengers{
    display: flex;
    gap: 150px;
}

.img_chat{
    width: 50px;
    border: 0.5px solid rgba(250, 178, 250, 0.589);
    border-radius: 100px;
    padding: 15px;
    background-color: rgba(250, 178, 250, 0.589);
    overflow: visible;
}

.img_chat:hover{
    width: 80px;
    transition: 0.2s;
}

.p_chat{
    color: rgb(253, 95, 253);
    padding-top: 20px;
    text-align: center;
}

.img_email{
    width: 50px;
    border: 0.5px solid rgba(89, 172, 250, 0.445);
    border-radius: 100px;
    padding: 15px;
    background-color: rgba(89, 172, 250, 0.445);
    overflow: visible;
}

.img_email:hover{
    width: 80px;
    transition: 0.2s;
}

.p_email{
    color: rgb(58, 104, 255);
    padding-top: 20px;
    text-align: center;
}

.img_viber{
    width: 50px;
    border: 0.5px solid rgba(231, 89, 250, 0.445);
    border-radius: 100px;
    padding: 15px;
    background-color: rgba(231, 89, 250, 0.445);
    overflow: visible;
}

.img_viber:hover{
    width: 80px;
    rotate: 200px, 200px;
    transition: 0.2s;
}

.p_viber{
    color: rgb(216, 58, 255);
    padding-top: 20px;
    text-align: center;
}


.flex_Messengers_menu_description{
    display: flex;
    justify-content: center;
    position: relative;
    top: 200px;

}

.Messengers_menu_description{
    display: block;
    width: 750px;
}

.h1_Messengers_menu_description{
    text-align: center;
    font-size: 40px;
}

.p_Messengers_menu_description{
    text-align: center;
    padding-top: 50px;
}

.img__Messengers{
    display: flex;
    justify-content: center;
    padding-top: 100px;
    position: relative;
}

.background-color_Why_are_you_losing_customers{
    height: 850px;
    background-color: rgb(242, 230, 250);
    position: relative;
    top: 400px;
}

.flex_Why_are_you_losing_customers{
    display: flex;
    justify-content: center;
    padding-top: 120px;
}

.btn_Why_are_you_losing_customers{
    display: block;
    margin: 0 auto;
     
}

.inline_Why_are_you_losing_customers_description{
    display: flex;
    text-align: center;
    padding-top: 60px;
    gap: 50px;
}

.span_Why_are_you_losing_customers{
    color: rgb(169, 22, 206);
}

.ul_messanger_Why_are_you_losing_customers{
    list-style-type: none;
}

.ul_ul_messanger_Why_are_you_losing_customers_purple_div{
    list-style-type: none;
}

.ul_AI_Why_are_you_losing_customers{
    list-style-type: none;
}

.ul_ul_AI_Why_are_you_losing_customers_purple_div{
    list-style-type: none;
}

.h1_Why_are_you_losing_customers{
    text-align: center;
}

.background_div_messanger_Why_are_you_losing_customers{
    background-color: white;
    width: 600px;
    height: 400px;
    border-radius: 10px;
}

.h2_messanger_Why_are_you_losing_customers{
    text-align: end;
    padding-top: 30px;
    padding-right: 80px;
}

.ul_messanger_Why_are_you_losing_customers{
    display: grid;
    text-align: end;
    width: 400px;
    row-gap: 20px;
    padding-left: 120px;
    padding-top: 22px;
}

.img_background_purple_div_messanger_Why_are_you_losing_customers{
    width: 580px;
    height: 90px;
    border-radius: 10px;
    z-index: 0;
    position: relative;
    top: 35px;
    
}

.ul_ul_messanger_Why_are_you_losing_customers_purple_div{
    display: grid;
    row-gap: 15px;
    text-align: end;
    z-index: 2;
    color: white;
    position: relative;
    bottom: 35px;
    right: 30px;  
}

.li_messanger_Why_are_you_losing_customers_purple_div_50{
    list-style-type: none;
}

.li_messanger_Why_are_you_losing_customers_purple_div_50::after{
    content: "    50%";
}

.li_messanger_Why_are_you_losing_customers_purple_div_25{
    list-style-type: none;
}

.li_messanger_Why_are_you_losing_customers_purple_div_25::after{
    content: "  25%";
}



.background_div_AI_Why_are_you_losing_customers{
    background-color: white;
    width: 600px;
    height: 400px;
    border-radius: 10px;
}

.h2_AI_Why_are_you_losing_customers{
    text-align: start;
    padding-top: 30px;
    padding-left: 80px;
}

.ul_AI_Why_are_you_losing_customers{
    display: grid;
    text-align: start;
    width: 400px;
    row-gap: 25px;
    padding-left: 80px;
    padding-top: 22px;
}

.img_background_purple_div_AI_Why_are_you_losing_customers{
    width: 580px;
    height: 90px;
    border-radius: 10px;
    z-index: 0;
    position: relative;
    top: 39px;
}

.ul_ul_AI_Why_are_you_losing_customers_purple_div{
    display: grid;
    row-gap: 15px;
    text-align: start;
    z-index: 2;
    color: white;
    position: relative;
    bottom: 35px;
    left: 30px; 
}

.li_AI_Why_are_you_losing_customers_purple_div_90{
    list-style-type: none;
}

.li_AI_Why_are_you_losing_customers_purple_div_90::before{
    content: "90% ";
}

.li_AI_Why_are_you_losing_customers_purple_div_75{
    list-style-type: none;
}

.li_AI_Why_are_you_losing_customers_purple_div_75::before{
    content: "75% ";
}

.btn_Why_are_you_losing_customers{
    margin-top: 80px;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background-color: orange;
    color: rgb(0, 0, 0);
}

.btn_Why_are_you_losing_customers:hover{
    background-color: rgb(252, 197, 96);
}

.background_color_Suitable_for_whom{
    position: relative;
    top: 400px;
}

.flex_Suitable_for_whom{
    display: flex;
    justify-content: center;
    padding-top: 150px;
}

.Suitable_for_whom_description{
    display: block;
}



.h1_Suitable_for_whom{
    font-size: 45px;
    text-align: center;
}

.span_Suitable_for_whom{
    color: rgb(169, 22, 206);
}

.h2_Suitable_for_whom{
    position: relative;
    bottom: 300px;
    left: 40px;
    width: 700px;
    line-height: 30px;
}

.p_Suitable_for_whom{
    position: relative;
    bottom: 280px;
    left: 40px;
    line-height: 20px;
}

.img_Suitable_for_whom{
    position: relative;
    bottom: 200px;
    left: 280px;
    z-index: 0;
    user-select: none;
}

.ForBusinessAndForAnOnlineStore{
    display: flex;
    justify-content: center;
    gap: 50px;
    padding-top: 250px;
}

.ForAnOnlineStore{
    width: 650px;
    height: 250px;
    background: linear-gradient(225deg, rgba(131,242,93,0.20772058823529416) 55%, rgba(159,255,0,0.1825105042016807) 59%);
    border-radius: 25px;
}

.ForBusiness{
    width: 650px;
    height: 250px;
    background-color: rgb(227, 225, 250);
    border-radius: 25px;
}

.ForCompaniesAndForTheServiceSector{
    display: flex;
    justify-content: center;
    gap: 50px;
    padding-top: 200px;
}

.ForCompanies{
    width: 650px;
    height: 250px;
    background: linear-gradient(225deg, rgba(193,20,255,0.1825105042016807) 38%, rgba(112,140,250,0.20772058823529416) 53%);
    border-radius: 25px;
}

.ForTheServiceSector{
    width: 650px;
    height: 250px;
    background: linear-gradient(225deg, rgba(20,198,255,0.1825105042016807) 39%, rgba(112,147,250,0.20772058823529416) 56%);
    border-radius: 25px;
}

.h2_ForCompanies{
    position: relative;
    bottom: 250px;
    left: 40px;
    width: 700px;
   
}

.p_ForCompanies{
    position: relative;
    bottom: 220px;
    left: 40px;
    width: 700px;
    line-height: 23px; 
}

.h2_ForTheServiceSector{
    position: relative;
    bottom: 260px;
    left: 40px;
    width: 700px;
    
}

.p_ForTheServiceSector{
    position: relative;
    bottom: 240px;
    left: 40px;
    width: 700px;
    line-height: 23px; 
}

.ForAgenciesAndForRealEstate{
    display: flex;
    justify-content: center;
    gap: 50px;
    padding-top: 240px;
}

.ForAgencies{
    width: 650px;
    height: 250px;
    background: linear-gradient(231deg, rgba(255,196,75,0.4009978991596639) 50%, rgba(247,186,214,0.34217436974789917) 99%);
    border-radius: 25px;
}

.h2_ForAgencies{
    position: relative;
    bottom: 260px;
    left: 40px;
    width: 700px;
}

.p_ForAgencies{
    position: relative;
    bottom: 240px;
    left: 40px;
    width: 700px;
    line-height: 23px;
}

.ForRealEstate{
    width: 650px;
    height: 250px;
    background: linear-gradient(153deg, rgba(247,186,214,0.34217436974789917) 7%, rgba(255,196,75,0.227328431372549) 56%);
    border-radius: 25px;
}

.h2_ForRealEstate{
    position: relative;
    bottom: 260px;
    left: 40px;
    width: 700px;
}

.p_ForRealEstate{
    position: relative;
    bottom: 240px;
    left: 40px;
    width: 700px;
    line-height: 23px;
}

.backgraundStagesOfWork{
    height: 850px;
    position: relative;
    top: 550px;
}

.flexStagesOfWork{
    display: flex;
    justify-content: center;
}

.StagesOfWork{
    display: block;
    position: relative;
    top: 100px;
    max-height: 1600px;
}

.h1StagesOfWork{
    text-align: center;
}

.acquaintance{
    position: relative;
    top: 100px;
    left: 380px;
}

.one_point{
    width: 12px;
    height: 12px;
    border-radius: 50px;
    background-color:   rgb(169, 22, 206);
    position: relative;
    top: 50px;
    right: 90px;
    outline: 6px solid rgb(223, 217, 217);
    z-index: 1;
}

.one_dottedLineHorizontal{
    border: none;
    border-bottom: 2px dotted rgb(169, 22, 206);
    width: 75px;
    position: relative;
    top: 44px;
    right: 75px;
}

.acquaintanceDescription{
    width: 600px;
    height: 250px;
    background: linear-gradient(153deg, rgba(65,255,243,0.34217436974789917) 7%, rgba(77,255,64,0.227328431372549) 91%);
    border-radius: 20px;

}

.H1AcquaintanceDescription{
    position: relative;
    top: 30px;
    left: 30px;
}

.PAcquaintanceDescription{
    position: relative;
    top: 60px;
    left: 30px;
    line-height: 20px;
}

.H3AcquaintanceDescription{
    position: relative;
    top: 100px;
    left: 30px;
}

.one_VerticalLine{
    border: none;
    border-left: 2px dotted rgb(169, 22, 206);
    height: 290px;
    position: relative;
    left: 296px;
    bottom: 100px;
}

.two_point{
    width: 12px;
    height: 12px;
    border-radius: 50px;
    background-color:   rgb(169, 22, 206);
    position: relative;
    bottom: 100px;
    left: 291px;
    outline: 6px solid rgb(223, 217, 217);
    z-index: 1;
}

.two_dottedLineHorizontal{
    border: none;
    border-bottom: 2px dotted rgb(169, 22, 206);
    width: 75px;
    position: relative;
    bottom: 105px;
    left: 219px;
}

.DemoDescription{
    width: 600px;
    height: 250px;
    background: linear-gradient(153deg, rgba(255,218,65,0.34217436974789917) 7%, rgba(255,115,64,0.227328431372549) 91%);
    border-radius: 20px;
    position: relative;
    bottom: 150px;
    right: 381px;
}

.H1DemoDescription{
    position: relative;
    top: 30px;
    left: 30px;
}

.PDemoDescription{
    position: relative;
    top: 60px;
    left: 30px;
    line-height: 20px;
}

.H3DemoDescription{
    position: relative;
    top: 100px;
    left: 30px;
}

.two_VerticalLine{
    border: none;
    border-left: 2px dotted rgb(169, 22, 206);
    height: 290px;
    position: relative;
    left: 296px;
    bottom: 350px;
}

.three_point{
    width: 12px;
    height: 12px;
    border-radius: 50px;
    background-color:   rgb(169, 22, 206);
    position: relative;
    bottom: 360px;
    left: 291px;
    outline: 6px solid rgb(223, 217, 217);
    z-index: 1;
}

.three_dottedLineHorizontal{
    border: none;
    border-bottom: 2px dotted rgb(169, 22, 206);
    width: 75px;
    position: relative;
    bottom: 365px;
    left: 310px;
}

.IntegrationDescription{
    width: 600px;
    height: 250px;
    background: linear-gradient(153deg, rgba(213,128,255,0.34217436974789917) 7%, rgba(255,64,254,0.227328431372549) 91%);
    border-radius: 20px;
    position: relative;
    left: 384px;
    bottom: 415px;
}

.H1IntegrationDescription{
    position: relative;
    top: 30px;
    left: 30px;
}

.PIntegrationDescription{
    position: relative;
    top: 60px;
    left: 30px;
    line-height: 20px;
}

.H3IntegrationDescription{
    position: relative;
    top: 100px;
    left: 30px;
}

.three_VerticalLine{
    border: none;
    border-left: 2px dotted rgb(169, 22, 206);
    height: 290px;
    position: relative;
    left: 296px;
    bottom: 630px;
}

.four_point{
    width: 12px;
    height: 12px;
    border-radius: 50px;
    background-color:   rgb(169, 22, 206);
    position: relative;
    bottom: 640px;
    left: 291px;
    outline: 6px solid rgb(223, 217, 217);
    z-index: 1;
}

.four_dottedLineHorizontal{
    border: none;
    border-bottom: 2px dotted rgb(169, 22, 206);
    width: 75px;
    position: relative;
    bottom: 645px;
    left: 219px;
}

.DebuggingAndSupporDescription{
    width: 600px;
    height: 250px;
    background: linear-gradient(153deg, rgba(128,255,207,0.34217436974789917) 7%, rgba(64,255,102,0.227328431372549) 91%);
    border-radius: 20px;
    position: relative;
    right: 381px;
    bottom: 695px;
}

.H1DebuggingAndSupporDescription{
    position: relative;
    top: 30px;
    left: 30px;
}

.PDebuggingAndSupporDescription{
    position: relative;
    top: 60px;
    left: 30px;
    line-height: 20px;
}

.H3DebuggingAndSupporDescription{
    position: relative;
    top: 80px;
    left: 30px;
}

.btn_divStagesOfWork{
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 550px;
}

.btnStagesOfWork{
    border: none;
    border-radius: 10px;
    width: 180px;
    height: 50px;
    padding: 15px;
    background-color: orange;
    color: rgb(0, 0, 0);
}

.btnStagesOfWork:hover{
    background-color: rgb(252, 197, 96);
}

.OurApproachDescription{
    padding-top: 1500px;
    padding-bottom: 80px;
}

.H1OurApproach{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 45px;
    line-height: 20px;
}

.MainOurApproach{
    display: flex;
    justify-content: center;
    padding-top: 200px;
    gap: 5%;
}

.PMainOurApproach{
    display: block;
}

.POurApproach{
    width: 650px;
    font-size: 20px;
    line-height: 30px;
}

.TwoPOurApproach{
    width: 650px;
    font-size: 20px;
    line-height: 30px;
    padding-top: 40px;
}

.АOurApproach{
    padding: 20px 30px;
    background-color:orange ;
    border-radius: 10px;
    text-decoration: none;
    color: black;
}

.АOurApproach:hover{
    background-color: rgb(252, 197, 96);
}

.divBtnOurApproach{
    padding-top: 80px;
}

.ImgOurApproach{
    position: relative;
    bottom: 70px;
}

.BackgroundAnswersToQuestions{
    background-color: rgb(242, 230, 250);
    padding-bottom: 100px;
    min-height: 700px;
}

.AnswersToQuestionsDescription{
    display: flex;
    justify-content: center;
}

.BlockAnswersToQuestionsDescription{
    padding-top: 150px;
}

.H1AnswersToQuestionsDescription{
    text-align: center;
    font-size: 40px;
    line-height: 20px;
}

.FAQitem{
    margin: 100px;
    max-width: 800px;
    width: 600px;
    border-radius: 10px;
    border: 0.5px solid rgba(36, 36, 36, 0.753);
    background-color: rgba(255, 255, 255, 0.788);
}

.H4FAQBtn{
    padding: 15px 20px;
    border-bottom: 1px solid black;
}

.H4FAQBtn:hover,
.H4FAQBtn:focus{
    color: rgb(169, 22, 206);
    background-color: rgba(0, 0, 0, 0.39);
    border-radius: 5px;
}

.H4FAQBtnNoBordur{
    padding: 15px 20px;
}

.H4FAQBtnNoBordur:hover,
.H4FAQBtnNoBordur:focus{
    color: rgb(169, 22, 206);
    background-color: rgba(0, 0, 0, 0.39);
    border-radius: 5px;
}

.PFAQ{
    display: none;
    border-bottom: 1px solid black;
    padding: 15px 20px;
}

.BackgroundWriteToUs{
    width: 100%;
    height: 300px;
    z-index: 1;
    
}


.Desccriptoin{
    position: relative;
    z-index: 2;
    bottom: 220px;
    left: 10%;
    width: 500px;
}

.H1WriteToUs{
    font-size: 50px;
    color: white;
}

.PWriteToUs{
    width: 100%;
    font-size: 20px;
    position: relative;
    top: 50px;
    color: white;
}


.FooterLampaBot{
    position: relative;
    bottom: 100px;
    min-height: 100px;
}

.WrapUp{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
    gap: 25px;
}

.AWrapUp{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.AWrapUp:hover{
    color: rgba(2, 2, 2, 0.836);
}


.WrapDown{
    display: flex;
    justify-content: center;
    gap: 30px;
    opacity: 0.5;
}

.AWrapDownTerra{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.AWrapDownTerra{
    color: rgba(2, 2, 2, 0.836);
}

